.view-more {
  margin: 0;
  padding: 0;
}
.view-more img {
  margin: 0;
  padding: 0;
  transition: .5s all;
  max-width: 100%;
  filter: grayscale(60%);
}
.view-more:hover img {
  filter: grayscale(0%);
}
.overlay-view-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .5s all;
}
.overlay-view-more:hover {
  background-color: #00000044;
}
.view-more-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay h3, .overlay a {
  color: white;
  text-align: center;
}
.overlay h3 {
  text-shadow: -3px 3px 5px black;
  margin-bottom: 16px;
}
.overlay a{
  border-radius: 50px;
  margin: auto;
}
